.navbar{
    background-color: #816000;
}

.quem-somos{
    background-color: #8181F7;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
    font-family: ;
}

.parceiros{
    background-color: aquamarine;
}

.bg-footer{
    background-color: black;
    color: white;
}